{% extends 'base.html' %} {% block content %}

<main class="container recipe-container margin-top-20">
    
    <div class="row">
        <p class="recipe-heading">Edit Recipe</p>
    </div>
     
    <div class="row">
       <form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST" class="col s12">
           
           <div class="row">
           <div class="input-field col s12"> 
           <select id="cuisine" name="cuisine_name">
            <option value="" disabled selected>Choose Cuisine</option>
            {% for cuisine in cuisine %}
            {% if cuisine.cuisine_name == recipe.cuisine_name %}
             <option value="{{cuisine.cuisine_name}}"selected >{{cuisine.cuisine_name}}</option>
                      {%else%}
                      <option value="{{cuisine.cuisine_name}}">{{cuisine.cuisine_name}}</option>
                      {% endif %}
                  {% endfor %}
                </select>
                    <label>Cuisine Type</label>
                </div>
            </div>
             
            <div class="row">
           <div class="input-field col s12"> 
           <select id="course" name="course_name">
            <option value="" disabled selected>Choose Course Type</option>
            {% for course in course %}
            {% if course.course_name == recipe.course_name%}
             <option value="{{course.course_name}}"selected >{{course.course_name}}</option>
                      {%else%}
                      <option value="{{course.course_name}}">{{course.course_name}}</option>
                      {% endif %}
                  {% endfor %}
                </select>
                    <label>Choose Course Type</label>
                </div>
            </div>
             
            <div class="row">
           <div class="input-field col s12"> 
           <select id="occasion" name="occasion_name">
            <option value="" disabled selected>Choose Occasion Type</option>
            {% for occasion in occasion %}
            {% if occasion.occasion_name == recipe.occasion_name%}
             <option value="{{occasion.occasion_name}}"selected >{{occasion.occasion_name}}</option>
                      {%else%}
                      <option value="{{occasion.occasion_name}}">{{occasion.occasion_name}}</option>
                      {% endif %}
                  {% endfor %}
                </select>
                    <label>Occasion</label>
                </div>
            </div>
             
            <div class="row">
           <div class="input-field col s12"> 
           <select id="diets" name="diet_name">
            <option value="" disabled selected>Special Diet</option>
            {% for diet in diet %}
             {% if diet.diet_name == recipe.diet_name%}
             <option value="{{diet.diet_name}}"selected >{{diet.diet_name}}</option>
                      {%else%}
                      <option value="{{diet.diet_name}}">{{diet.diet_name}}</option>
                      {% endif %}
                  {% endfor %}
                </select>
                    <label>Choose Diet</label>
                </div>
            </div>
             
             
             <div class="row">
             <div class="input-field col s12">
                <input id="recipe_name" name="recipe_name" type="text" class="validate" value="{{recipe.recipe_name}}">
                <label>Recipe Name</label>
            </div>
             </div>
            
            <div class="row">
             <div class="input-field col s12">
                <input id="recipe_description" name="recipe_description" type="text" class="validate" value="{{recipe.recipe_description}}">
                <label>Recipe Description</label>
            </div>
             </div>
            
            
            
            
                <div class="row">
                <div class="input-field col s12">
                    <input id="prep_time" name="prep_time" type="text" value="{{recipe.prep_time}}">
                <label>Preparation Time</label>
                    </select>
                    <label>Preparation Time</label>
                </div>
            </div>
            
             <div class="row">
                <div class="input-field col s12">
                    <input id="cook_time" name="cook_time" type="text" value="{{recipe.cook_time}}">
                <label>Cook Time</label>
                    </select>
                    <label>Cook Time</label>
                </div>
            </div>
            
             <div class="row">
                <div class="input-field col s12">
                    <input id="serves" name="serves" type="text" value="{{recipe.serves}}">
                <label>Serves</label>
                    </select>
                    <label>Serves</label>
                </div>
            </div>
            
            <div class="row">
           <div class="input-field col s12"> 
           <select id="skill" name="skill_name">
            <option value="" disabled selected>Skill Level</option>
            {% for skill in skill %}
            {% if skill.Skill_name == recipe.skill_name%}
             <option value="{{skill.Skill_name}}"selected >{{skill.Skill_name}}</option>
                      {%else%}
                      <option value="{{skill.Skill_name}}">{{skill.Skill_name}}</option>
                      {% endif %}
                  {% endfor %}
                </select>
                    <label>Choose Skill Level</label>
                </div>
            </div>
             
             <div class="row">
                <div class="input-field col s12">
                    <input id="ingredients" name="ingredients" type="text" class="materialize-textarea" value="{{recipe.ingredients}}" required>
                <label>Ingredients</label>
                    </select>
                    <label>Ingredients</label>
                </div>
            </div>
            
                 <div class="row">
                <div class="input-field col s12">
                    <input id="instruction_step_1" name="instruction_step_1" type="text" class="materialize-textarea" value="{{recipe.instruction_step_1}}">
                    <label>Cooking Instructions Step 1</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="instruction_step_2" name="instruction_step_2" type="text" class="materialize-textarea" value="{{recipe.instruction_step_2}}">
                    <label>Cooking Instructions Step 1</label>
                </div>
            </div>

                <div class="row">
                <div class="input-field col s12">
                    <input id="instruction_step_3" name="instruction_step_3" type="text" class="materialize-textarea" value="{{recipe.instruction_step_3}}">
                    <label>Cooking Instructions Step 1</label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s12">
                    <input id="instruction_step_4" name="instruction_step_4" type="text" class="materialize-textarea" value="{{recipe.instruction_step_4}}">
                    <label>Cooking Instructions Step 1</label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s12">
                    <input id="instruction_step_5" name="instruction_step_5" type="text" class="materialize-textarea" value="{{recipe.instruction_step_5}}">
                    <label>Cooking Instructions Step 1</label>
                </div>
            </div>
            
          <div class="row">
                <div class="input-field col s12">
                    <input id="instruction_step_6" name="instruction_step_6" type="text" class="materialize-textarea" value="{{recipe.instruction_step_6}}">
                    <label>Cooking Instructions Step 1</label>
                </div>
            </div>
 
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit">Edit Recipe
                <i class="material-icons right">playlist_add</i>
            </button>
            </div>
        </form>

   

</main>
{% endblock %}