{% extends 'base.html' %} {% block content %}

<main class="container recipe-container margin-top-20">
    <div class="row">
        <p class="recipe-heading">My Recipes</p>
    </div>
    <p class="my-recipe-heading">Hello {{ user.username }}</p>
    <!--THE COUNT AS TO HOW MANY RECIPES A USER HAS ADDED-->
    <div class="row display_recipe">
        <div class="col s12 center margin-bottom-20">
            {% if recipe_count == 0 %}
            <p class="recipe-count"><b>You haven't added any recipes yet. To get started click the add recipes button.</b></p>
            <!-- <p class="signin-btn center"><a href="{{url_for('add_recipes',username = session['user'])}}">Add Recipe</a></p> -->
            {% elif recipe_count == 1 %}
            <p class="recipe-count"><b>You have created {{ recipe_count }} recipe.</b></p>
            <!-- <p class="signin-btn center"><a href="{{url_for('add_recipes',username = session['user'])}}">Add Recipe</a></p> -->
            {% else %}
            <p class="recipe-count"><b>You have created {{ recipe_count }} recipes.</b></p>
            <!--    <p class="signin-btn center"><a href="{{url_for('add_recipes',username = session['user'])}}">Add Recipe</a></p> -->
            {% endif %}
        </div>
        
        
        
        
        
        <div class="row display_recipe">
            {% for user_recipes in user_recipes %}
            <div class="single-recipe-result col s12 m6 l3">
                <div class="inner_recipe_box">
                    <div class="row">
                        <div class="col s12">
                            <a href="{{url_for('mysingle_recipes', user_recipes_id=user_recipes._id)}}">
                    <img class="found_image" onerror="this.src='https://upload.wikimedia.org/wikipedia/commons/b/b1/Missing-image-232x150.png'" src="{{user_recipes.image}}" alt="{{user_recipes.recipe_name}}">
                    </a>
                        </div>
                        <div class="name_box col s12 center">
                            <b>{{user_recipes.recipe_name }}</b>
                        </div>
                        <div class="center des_box col s12">
                            <p>{{ user_recipes.recipe_description |truncate(65) }}</p>
                             </div>
                            <div class="cuisine_box col s12 center">
                                <div><b>Cuisine</b></div>
                                {{user_recipes.cuisine_name }}
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                
                {% endfor %}
            </div>
</main>

{% endblock %}
