{% extends 'base.html' %} {% block content %}

<main class="container recipe-container margin-top-20">
    
    
    
    <div class="row">
        <p class="recipe-heading">View Recipes</p>
    </div>
    
    <div class="row">
        <p class="search-text">Search Recipes by:</p>
    </div>
    
    {% block search %}
	{% include 'search.html' %}
	{% endblock search %}   
  
<div class="recipe-buttons">
<a href="{{url_for('recipes')}}" class="waves-effect waves-light search-btn btn  teal lighten-1">View All Recipes</a> 
<a href="{{url_for('recipes_sort')}}" class="waves-effect waves-light search-btn btn  teal lighten-1">Most Popular Recipes</a>
</div>
           
<div class="row found_recipe_row" >
{% for recipe in recipe %}
    <div class="single-recipe-result col s12 m6 l3">
        <div class="inner_recipe_box">
            <div class="row">
                <div class="col s12 found_image_box">
                    <a href="{{ url_for('single_recipes', recipe_id=recipe._id)}}">
                    <img class="found_image" onerror="this.src='https://upload.wikimedia.org/wikipedia/commons/b/b1/Missing-image-232x150.png'" src="{{recipe.image}}" alt="{{recipe.recipe_name}}">
                    </a>
                </div>
        
                <div class="name_box col s12 center">
                    <b>{{recipe.recipe_name }}</b>
                </div>
                
                <div class="center allergen_box col s12">
                    
                <p>{{ recipe.recipe_description |truncate(65) }}</p>
                
                </div>
                 
                
                <div class="cuisine_box col s12 center">
                <div><b>Cuisine</b></div>
               {{recipe.cuisine_name }}
                </div>
               
            </div>
        </div>
    </div>
    
{% endfor %}
</div>      
                      
  </main>      
  
  
  
 
{% endblock %}