{% extends 'base.html' %} {% block content %}

<main class="container recipe-container margin-top-20">
    
    <div class="row">
        <p class="recipe-heading">View Recipe</p>
    </div>
    
  <div class="search-container">
    <div class="row">
        <form action="/find_multiple_categories" method="POST">    
           <div class="input-field col s12 m6 l3"> 
           <select id="cuisine_name" name="cuisine_name">
            <option value="" disabled selected>Choose Cuisine</option>
            <option value>None</option>
            {% for cuisine in cuisine %}
            <option value="{{cuisine.cuisine_name}}">{{cuisine.cuisine_name}}</option>
            {% endfor %}
            </select>
            </div>
             <div class="input-field col s12 m6 l3">
           <select id="course_name" name="course_name">
            <option value="" disabled selected>Choose Course</option>
            <option value>None</option>
            {% for course in course %}
            <option value="{{course.course_name}}">{{course.course_name}}</option>
            {% endfor %}
            </select>
            </div>
            <div class="input-field col s12 m6 l3">
           <select id="diet_name" name="diet_name">
            <option value="" disabled selected>Choose Special Diet</option>
            <option value>None</option>
            {% for diet in diet %}
            <option value="{{diet.diet_name}}">{{diet.diet_name}}</option>
            {% endfor %}
            </select>
            </div>
            <div class="input-field col s12 m6 l2"> 
            <input type="text" placeholder="Search Ingredients:" name="ingredients" id="ingredients">
            </div>
             <div class="input-field col s12 m6 l1"> 
            <button class="btn btn_small waves-effect waves-light"  type="submit">Filter Records
            </button>
            </div>
            </form>
           </div> 
            </div>
            
            <!--
            <div class="row">
            <div class="ordered-by-title">
            <a href="{{url_for('recipes')}}" class="see-all">View All</a>
            <br>
            <a href="{{url_for('recipes_sort')}}" class="see-top-10">Sort Top 10 by Likes</a> 
            </div>
            </div>

<div class="row">
    <ul class="collapsible" data-collapsible="accordion">
        {% for recipe in recipe %}
        <li>
            
            <div class="collapsible-header">
                <div class="col s1">
                    <i class="material-icons">expand_more</i>
                    </div>
                    
                     <div class="recipe_header col s9">
                    <strong>{{recipe.recipe_name}}</strong> 
                </div>
                    
                     
            
            
               
            </div>
            
            <div class="collapsible-body">
                <span>
                {{recipe.recipe_description}} 
                {{recipe.cuisine_name}}
                {{recipe.course_name}}
                {{recipe.diet_name}}
               <a href="{{url_for('single_recipes', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small teal lighten-1">View</a>
            </span>
        
         -->
<div class="row found_recipe_row">
{% for recipe in all_recipes %}

    <div class="single-recipe-result col-xs-12 col-sm-4 col-md-3">
        <div class="inner_recipe_box">
            <div class="row">
                <div class="col-xs-12 found_image_box">
                   
                    <img  src="{{ recipe.image }}" alt=" {{ recipe.name }}">
                    
                </div>
                
                <div class=" name_box col-xs-12 center">
                    <h4><b>{{ recipe.recipe_name }}</b></h4>
                </div>
                
                <div class="center allergen_box col-xs-12">
                    
                <p>{{ recipe.recipe_description |truncate(65) }}</p>
                
                </div>
                
                
                
                <div class="cuisine_box col-xs-12 center">
                    <div><b>Cuisine</b></div>
                {% for item in recipe.cuisine %}
                {% if loop.index == 0 or item == "" %}
                <p>None</p>
                {% else %}
                    <span>{{ item |title}}</span>
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
{% endfor %}
</div>      
                      
                    
                        
                     
                  
                   
                     
                
                     
               
            </div>
        </li>
        {% endfor %}
    </ul>
</div>



{% endblock %}