{% extends 'base.html' %} {% block content %}

<main class="container recipe-container margin-top-20">
    
    <div class="row">
        <p class="recipe-heading">Recipe Details</p>
    </div>
    
    <div class="col-xs-12 center">
                <h2 class=" inline"> {{ recipe.recipe_name }}</h2>

   </div>
   
   <div class="row margin-bottom-10">

            <div class="col-xs-offset-1 col-xs-10 center">
                <p><b>{{ recipe.recipe_description }}</b></p>
            </div>
    </div>
    
  
        <div class="row recipe_image_container hidden-md hidden-lg">
            
            <div class="col-xs-12">
                <img class="single-recipe_image" src="{{ recipe.image }}" alt="{{ recipe.name}}">
            </div>

            <br>
            <div class="row center margin-bottom-10">
                
                
            </div>

        </div>
    
    
    <!--INGREDIENT CONTAINER-->
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="row recipe_image_container">

                    <div class="col-xs-12 single-recipe-ingredients">

                        <div class="row margin-bottom-10">
                            <div class="col-xs-12 flex-box">
                                <div class="flex1 center">
                                    <h4 class="inline">Prep Time :</h4> {{ recipe.prep_time }}</div>
                                <div class="flex1 center"><i class="far fa-clock"></i>
                                    <h4 class="inline"> Cook Time :</h4> {{ recipe.cook_time }}</div>
                                <div class="flex1 center"><i class="fas fa-utensils"></i>
                                    <h4 class="inline">Servings :</h4> {{ recipe.serves }}</div>
                            </div>
                        </div>

                        <div class="row margin-bottom-10">
                            <div class="col-xs-12">
                                <h3 class="">Ingredients</h3>
                                <ul class="no-padding">
                                    {% for ingredient in recipe.ingredients %} {% if ingredient != ""%}
                                    <li>{{ ingredient }}</li>
                                    {% endif %} {% endfor %}
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
    
    <div class="row margin-bottom-10 recipe_image_container">
                    <div class="col-xs-12 single-recipe-instructions">
                        <h3 class="">Instructions</h3>
                        <ol class="no-padding">
                            {% for instruction in recipe.instructions %}
                            <li>
                                <p>{{ instruction }}</p>
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
    
    
    
    {% endblock %}