{% extends 'base.html' %} {% block content %}

<main class="container recipe-container margin-top-20">
 
<div class="row">
        <form action="/filter_recipes" method="POST"  class="col s12">    
        <div class="row">
           <div class="input-field col s4"> 
           <select id="cuisine_name" name="cuisine_name">
            <option value="" disabled selected>Choose Cuisine</option>
            {% for cuisine in cuisine %}
            <option value="{{cuisine.cuisine_name}}">{{cuisine.cuisine_name}}</option>
            {% endfor %}
            </select>
             <label>Cuisine Type</label>
            </div>
             </div>
             <div class="row">
            <button class="btn waves-effect waves-light" type="submit">Filter
            <i class="material-icons right">playlist_add</i>
            </button>
            </div>
        </form>
        
<div class="row margin-bottom-10">    
    
    <div class="col-xs-12 center">
                <h2 class=" inline"> {{ recipe.recipe_name }}</h2>

   </div>
</div>


   <div class="row margin-bottom-10">

            <div class="col-xs-offset-1 col-xs-10 center">
                <p><b>{{ recipe.recipe_description }}</b></p>
            </div>
  </div>
    
  
        <div class="row">
            <div class="col-xs-12 s12 m6 l6">
                <img class="single-recipe_image" src="{{recipe.image}}" alt="{{recipe.recipe_name}}">
            </div>
                                
                                  Prep Time : {{ recipe.prep_time }}
                               
                                    Cook Time :{{ recipe.cook_time }}
                               
                                    Servings :{{ recipe.serves }}
                                    
                                     <h3>Ingredients</h3>
                                      {{recipe.ingredients}}
                            </div>
        </div>
        
         
    
    <div class="row margin-bottom-10 recipe_image_container">
                    <div class="col-xs-12 single-recipe-instructions">
                        <h3 class="">Instructions</h3>
                        <ol class="no-padding">
                            <li><p>{{ recipe.instruction_step_1}}</p></li>
                            <li><p>{{ recipe.instruction_step_2}}</p></li>
                            <li><p>{{ recipe.instruction_step_3}}</p></li>
                            <li><p>{{ recipe.instruction_step_4}}</p></li>
                            <li><p>{{ recipe.instruction_step_5}}</p></li>
                            <li><p>{{ recipe.instruction_step_6}}</p></li>
                        </ol>
                    </div>
                </div>
            </div>
    
    
    
    {% endblock %}