{% extends 'base.html' %} {% block content %}

<main class="container recipe-container margin-top-20">
    <div class="row">
        <p class="search-text">Search Recipes by:</p>
    </div>
    {% block search %} {% include 'search.html' %} {% endblock search %}
    <div class="row">
        <div class="col s12 center">
            <h4 class=" inline"> {{recipe.recipe_name }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center">
            <p class=" inline"><b>By {{recipe.author }}</p></b>
        </div>
    </div>
    <div class="row margin-bottom-10">
        <div class="col s12 description-text">
            <p><b>{{recipe.recipe_description }}</b></p>
        </div>
    </div>
    <div class="row ">
        <div class="col  s12 m6 l6">
            <img class="img" onerror="this.src='https://upload.wikimedia.org/wikipedia/commons/b/b1/Missing-image-232x150.png'" src="{{recipe.image}}" alt="{{recipe.recipe_name}}">
        </div>
        <br>
        <div class="col s12 m6 l6 flex-box">
            <div class="flex1 center"><i class="fa fa-clock-o" style="font-size:24px"></i>
                <p class="inline"><b>Preparation Time :</b></p> {{ recipe.prep_time }}</div>
            <div class="flex1 center"><i class="fa fa-hourglass" style="font-size:24px"></i>
                <p class="inline"><b>Cook Time :</b></p> {{ recipe.cook_time }}</div>
            <div class="flex1 center"><i class="fa fa-cutlery" style="font-size:24px"></i>
                <p class="inline"><b>Servings :</b></p> {{ recipe.serves }}</div>
        </div>
        <div class="col s12 m6 l6 flex-box">
            <div class="flex1 center">
                <p class="inline">
                    <div class="recipe-spacing">
                        <b>Cuisine:</b></p>
                <p class="cuisine-item">{{recipe.cuisine_name }}</p>
                </div>
            </div>
            <div class="flex1 center">
                <p class="inline">
                    <div class="recipe-spacing">
                        <b>Course:</b></p>
                <p class="cuisine-item">{{recipe.course_name }}</p>
                </div>
            </div>
            <div class="flex1 center">
                <p class="inline">
                    <div class="recipe-spacing">
                        <b>Special Diet: </b></p>
                <p class="cuisine-item">{{recipe.diet_name }}</p>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l12">
            <div class=ingredients-title>
                <h3>Ingredients</h3>
            </div>
            <div class="ingredient-text">{{ recipe.ingredients }}
            </div>
        </div>
        <div class="col s12 m12 l12">
            <div class=instructions-title>
                <h3>Instructions</h3>
            </div>
            <div class="instruction-text">
                <ol>
                    <li>
                        <p>{{ recipe.instruction_step_1}}</p>
                    </li>
                    <li>
                        <p>{{ recipe.instruction_step_2}}</p>
                    </li>
                    <li>
                        <p>{{ recipe.instruction_step_3}}</p>
                    </li>
                    {% if exists %}
                    <li>
                        <p>{{ recipe.instruction_step_4}}</p>
                    </li>
                    <li>
                        <p>{{ recipe.instruction_step_5}}</p>
                    </li>
                    <li>
                        <p>{{ recipe.instruction_step_6}}</p>
                    </li>
                    {% endif %}
                </ol>
            </div>
        </div>
    </div>
</main>

{% endblock %}
